footer {
  background-color: $background-color;
  color: white;
  min-height: 10vh;
  position: sticky;
  bottom: 0;
  padding: 0rem 5%;
  @include flex(space-between, center, row);
  ul {
    // @include flex(space-between, center, row);

    a {
      margin-right: auto;
      padding-left: 5rem;
    }
  }

  h1 {
  }
}
