.main-header {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  padding: 1rem;
  width: 60%;
  flex-wrap: wrap;

  ul {
    @include flex(space-around, center, row);
    flex: 1 1 20rem;
  }
}

.logo-container {
  flex: 1 1 20rem;
  @include flex(flex-start, center, row);

  h1 {
    margin-left: 1rem;
  }
}

.intro {
  @include flex(space-between, center, row);
  flex-wrap: wrap;
  min-height: 80vh;
  width: 90%;
  margin: auto;

  h2 {
    background-image: $gradient;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 8rem;
    display: inline-block;
    padding-top: 2rem;
  }

  h3 {
    font-size: 6rem;
    padding: 2rem 0rem;
  }
  p {
    color: $gray-text;
    padding: 2rem 0rem;
  }
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

.intro-social {
  margin-top: 2rem;

  img {
    max-height: 4.8rem;
    max-width: 4.8rem;
  }
  a {
    margin-right: 5rem;
  }
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.fixed {
  background-color: $gray-text;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

#plant-left {
  animation: leave 1.5s ease infinite alternate;
}

#plant-right {
  animation: leave 1.5s ease 1.5s infinite alternate;
}

#me {
  animation: me 1.5s ease infinite alternate;
  transform-origin: bottom;
}

#clock-arrow {
  animation: clock 1.5s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}
//animations leaves
@keyframes leave {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-20%);
  }
}

@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(350deg);
  }
}
